
  .cat-text {
    color: #979797;
    font-family: "Almarai";
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 23px;
    text-align: right;
  }
  
  .cat-title {
    color: #555550;
    font-family: Almarai;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
  }
  
  .barnd-text {
    color: #555550;
    font-family: "Almarai";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
  }
  .product-description {
    color: #555550;
    font-family: 'Almarai';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 26px;
    text-align: right;
  }
  .product-cart-add {
    cursor: pointer;
    text-align: center;
    height: 45px;
    border-radius: 9px;
    border: none;
    background-color: #8ab046;
    color: #ffffff;
    font-family: "Almarai";
    font-size: 14px;
    font-weight: normal;
  }
  .product-cart-add:hover {
    color: #bdbaba !important;
  }