.navv {
    /* --bs-bg-opacity: 1; */
    background-color: #dae797 !important;
}
.logo img{
    width: 104px;
    object-fit: contain;
}
.cart-log{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    font-size: 20px;
}
.cart-log .cart ,.cart-log .log{
    display: flex;
    align-items: center;
    font-size: 17px;
    font-family: Almarai; 
}
.cart-log div:not(:last-child){
    margin-left: 15px;
}
.search{
    width: 100%;
    padding: 0px 21px;
}

.search input{
    width: 80%;
    border-radius: 0px 15px 15px 0px;
    padding: 5px;
    text-align: center;
    border: 2px solid #a1b72c;
    transition: 0.3s;
} 
.search input:focus{
    width: 90%;
}
.search input{
    outline: #a1b72c;
}
.cart{
    position: relative;
}
.search i{
    background-color: #a1b72c;
    margin-right: 0px;
    width: 39px;
    line-height: 38px;
    color: #fff;
    text-align: center;
    border-radius: 15px 0px 0px 15px;
    position: absolute;
  
  }
