.logo img{
    width: 104px;
    object-fit: contain;
}
.cart-log{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.cart-log .cart ,.cart-log .log{
    display: flex;
    align-items: center;
    font-size: 17px;
    font-family: Almarai; 
}
.cart-log div:not(:last-child){
    margin-left: 15px;
}
.search{
    width: 100%;
    padding: 0px 21px;
}

.search input{
    width: 90%;
    border-radius: 7px;
    padding: 5px;
    text-align: center;
    border: 2px solid #333;
    transition: 0.3s;
}
.search input:focus{
    width: 100%;
}
.search input{
    outline: rgb(61, 56, 56);
}
