.copon-input {
    box-sizing: border-box;
    height: 46px;
    width: 90%;
    border: 1px solid #979797;
    font-family: "Almarai";
    font-size: 12px;
    font-weight: normal;
  }
  .copon-btn {
    cursor: pointer;
    border: none;
    height: 46px;
    padding-top: 5px;
    border-radius: 5px !important;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px !important;
    border-radius: 0 !important;
    background-color: #272727;
    color: #ffff !important;
    font-family: "Almarai";
    font-size: 12px;
    font-weight: normal;
  }
  
  .cart-checkout {
    height: 200px;
    width: 100%;
    border-radius: 20px;
    background-color: #ffffff;
  }
  .product-price {
    height: 46px;
    width: 150px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 9px;
    color: #555550;
    font-family: "Almarai";
    font-size: 12px;
    font-weight: bold;
    background-color: #ffffff;
  }
  .product-cart-add {
    cursor: pointer;
    text-align: center;
    height: 45px;
    border-radius: 9px;
    border: none;
    background-color: #272727;
    color: #ffffff;
    font-family: "Almarai";
    font-size: 14px;
    font-weight: normal;
  }
  .product-cart-add:hover {
    color: #bdbaba !important;
  }