.app{
    font-family: 'Almarai', sans-serif;
}
body{
    font-family: Almarai; 
}
.font {
    font-family: "Almarai", sans-serif;
    background-color: #f9f9f9;
  }  
  input:focus{
    outline: #dae797;
  }
  .page-link:hover{
    background-color: #8ab046 !important;
  }