
  .cart-item-body {
    height: 229px;
    width: 100%;
    border-radius: 20px;
    background-color: #ffffff;
  }
  .barnd-text {
    color: #555550;
    font-family: "Almarai";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
  }
  .cat-text {
    color: #979797;
    font-family: "Almarai";
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 23px;
    text-align: right;
  }
  @media (max-width: 508px) {
    .cart{
      margin: 0 auto;
      display: block;
      width:100px !important;
      height:100px!important;
      object-fit: cover;
    }
    .app{
      font-size: 13px !important;
      padding: 1px 2px !important ;
      height: 41px !important;
      margin-left: 9px !important;
    }
  }